<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    List of Employees
  </h3>
</div>
<div>
  <mat-list>
    <mat-list-item *ngFor="let employee of employees">
      <mat-icon matListIcon>{{employee.photo}}</mat-icon>
      <h3 matLine> Name: {{employee.name}} </h3>
      <p matLine> Employee Id: {{employee.employeeId}}</p>
      <p matLine> Date of Birth: {{employee.dob}} </p>
      <p matLine> Skills: {{employee.skills}} </p>
      <p matLine> Salary: {{employee.salary}} </p>
      <mat-action-list class='edit-del-button'>
          <button mat-raised-button color="primary" (click)="goToAddEditPage(employee)">Edit</button>
          <button mat-raised-button color="primary" (click)="deleteEmployee(employee)">Delete</button>
      </mat-action-list>
    </mat-list-item>
  </mat-list>
</div>
<button mat-raised-button color="primary" (click)="goToAddEditPage()">Add Employee</button>
