<app-header></app-header>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    List of Employees
  </h3>
</div>

<div class="body-class">
  <div style="text-align:center; width: 98%;" *ngIf="!isLoaded">
    <mat-progress-bar style="display: inline-block;"
      class="example-margin"
      [color]="primary"
      mode="indeterminate"></mat-progress-bar>
  </div>
  
  <mat-list *ngIf="isLoaded">
    <mat-list-item *ngFor="let employee of employees">
      <!-- <img height="100px" width="100px" src="{{getEmployeePhotoUrl(employee)}}"/> -->
      <img height="100px" width="100px" src="{{employee.photoUrl}}"/>
      <h3 matLine> Name: {{employee.name}} </h3>
      <p matLine> Employee Id: {{employee.employeeId}}</p>
      <p matLine> Date of Birth: {{employee.dob}} </p>
      <p matLine> Skills: {{employee.skills}} </p>
      <p matLine> Salary: {{employee.salary}} </p>
      <mat-action-list class='edit-del-button'>
          <button mat-raised-button color="primary" (click)="goToAddEditPage(employee)">Edit</button>
          <button mat-raised-button color="primary" (click)="deleteEmployee(employee)">Delete</button>
      </mat-action-list>
    </mat-list-item>
  </mat-list>
</div>
<div style="text-align:center">
  <button mat-raised-button color="primary" (click)="goToAddEditPage(null)">Add Employee</button>
</div>